@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!</h2>
<br />
<img id="rightimg-halfsz" src="~/Images/AKR-outsode-shot2-624x415.jpg" alt="photo of the store" />
<p>
    Welcome to <strong>Allen K. Ryan’s!</strong>  Our family has been catering in the Livingston County area for over 10 years, and we recently opened our first store-front operation in Howell!  Our restaurant offers fresh, healthy meals for small groups or large, and our mission is to serve high quality food at reasonable prices.
</p>
<br />
<p>
    Please browse our <a href="@Url.Action("OrderOnline","Home")">menu</a> for a variety of chicken, ribs, and fish dinners with all the fixings!.  We prepare each meal fresh to order, making dinner time quick, healthy, and easy for our customers.
</p>
<br />
<p>
    Stop in for lunch or dinner. Our dining room accommodates up to 22 guests, and we also offer great carry-out and catering options. Stop in and give us a try!
</p>
<p>
    <a class="btn btn-default" href="@Url.Action("OrderOnline","Home")">Order Now!</a>
</p>