
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<center>
    <a href="~/Images/menu-2016.pdf">
        Carry out Menu!
        <br />  
        <img src="~/Images/AKR-ribs-photo-from-inet.png"/>
    </a>
</center>

